*{
    padding:0;
    margin:0;
}
main{
    background-image: url(50-Best-Movies-On-Netflix-April-2024-1024x536.webp);
    height: 80vh;
}
main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}