/* #one{
    height: 70px;
    width:70px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 20px;
}
#two{
    height: 70px;
    width:70px;
    background-color:yellow;
    border-radius: 50%;
    margin-bottom: 20px;
}
#three{
    height: 70px;
    width:70px;
    background-color:green;
    border-radius: 50%;
    margin-bottom: 20px;
}
#maindiv{
    height:300px;
    width:90px;
    background-color: black;
    padding-left: 25px;
    padding-top:25px;
} */

/* #navbar{
    height: 60px;
    background-color:#0f1111;
}
*{
    color: white;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
}
input{
    color: #0f1111;
} */
























